body {
  background-color: #D6E5FA;
  text-align: center;
  padding: 2% 10%;
}

.task-input {
  width: 50%;
  margin-left: 25%;
}

.task-heading {
  text-align: left;
  padding-left: 3%
}

.submit-btn {
  margin: 1% 0 5%;
}

.form-label {
  font-size: 2rem;
}

.main-card {
  background-color: #99A799;
}

.full-card {
  position: relative;
}

.task-display {
  text-align: left;
  padding: 0 3% 5%;
}

.sub-card {
  font-size: 1.2rem;
  width: 80%;
  background-color: #EEF2FF;
  margin-bottom: 1%;
  margin-left: 12%;
}

.card-title {
  margin: 10px 5px;
}

.cancel-btn {
  position: absolute;
  top: 30%;
  right: 20%;
}

.task-empty {
  text-align: center;
  font-size: 1.4rem;
  font-family: sans-serif;
  display: none;
}

.sub-card-body {}
